body{ 
	margin: 0;
  	padding: 0;
}
.navigation{
	background-color:dimgrey;
	text-align:center;
	padding:10px;

}
.navigation a{
	text-decoration: none;
	color:white;
	padding:10px 20px;
	margin:0 auto;
}
.navigation a:hover{

	background-color:black;
	border-color: 3px solid white;
}
.right{
	right:0;
}
.split
{
	height: 100%;
	width:50%;
	position: fixed;
	z-index: 1;
	top:0;
	overflow-x: hidden;
	padding-top: 20px;
}